@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-BoldItalic.otf') format('otf');
  font-weight: bold;
  font-style: italic;
}
