@tailwind base;
@tailwind components;
@tailwind utilities;
@import './global.scss';
@import './fonts.scss';
@import url('https://fonts.cdnfonts.com/css/general-sans');

@layer base {
  body {
    @apply font-generalSans text-base text-main bg-white relative z-1;
    font-family: 'General Sans', sans-serif;
  }
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}
