$primary-color: #4040f2;
$secondary-color: #f7f7fb;
$highlight-text-color: #0d0d54;
$sub-text-color: #4f5b67;
$main-text-color: #242d35;
$neutral-text-color: #373f47;
$gray-text-color: #d6dade;
$gray-color: #a8b0b9;
$red-color-scale-100: #ffe8d7;
$red-color-scale-500: #ff513a;
$green-color-scale-100: #e6fbd9;
$green-color-scale-500: #44c13c;
$blue-color-scale-100: #d8d8fe;
$blue-color-scale-500: #4040f2;
